<h2>Course List</h2>

<!-- Add Course Button -->
<div style="text-align: right; margin-bottom: 12px;">
  <button mat-raised-button color="primary" routerLink="/admin/courses/add">
    + Add Course
  </button>
</div>

<table mat-table [dataSource]="courses" class="mat-elevation-z8" style="width: 100%; margin-top: 20px;">
    
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let course"> {{ course.courseId }} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let course"> {{ course.courseName }} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let course"> {{ course.description }} </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let course"> {{ course.duration }} hrs </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let course"> {{ course.startDate }} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> End Date</th>
    <td mat-cell *matCellDef="let course"> {{ course.endDate }} </td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Create At</th>
    <td mat-cell *matCellDef="let course"> {{ course.createdAt }} </td>
  </ng-container>

  
  <ng-container matColumnDef="updatedAt">
    <th mat-header-cell *matHeaderCellDef> Updated At</th>
    <td mat-cell *matCellDef="let course"> {{ course.updatedAt }} </td>
  </ng-container>


  <!-- Action Buttons Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let course">
      <button mat-button color="primary"  [routerLink]="['/admin/courses/edit', course.courseId]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(course.courseId)">Delete</button>
    </td>
  </ng-container>

  <!-- Header & Row Binding -->
  <tr mat-header-row *matHeaderRowDef="['id', 'title', 'description', 'duration','startDate','endDate','createdAt','updatedAt','actions',]"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'title', 'description', 'duration','startDate','endDate','createdAt','updatedAt','actions']"></tr>

</table>
